@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Inter:wght@400;600&display=swap");

html,
body {
  margin: 0;
  box-sizing: border-box;
  height: auto;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
header {
  margin-bottom: 2rem;
}
.container {
  width: 100%;
  height: auto;
}

.menu-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #223e66;
  color: #f1f1f1f1;
  width: 100%;
}

.menu {
  display: flex;
  width: 100%;
  list-style: none;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 2rem;
  margin-right: 1rem;
  margin-top: 2rem;
}
.btn-menu {
  width: fit-content;
  height: 2rem;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 1rem;
  margin-bottom: 2rem;
}
.btn-menu:hover {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  background-color: #1e3a8a;
  color: #f1f1f1f1;
  border-radius: 1rem;
}
a {
  text-decoration: unset;
  color: #f1f1f1f1;
}
.content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: auto;
  height: auto;
  margin-top: 2rem;
  color: #223e66;
}
.content img {
  width: 300px;
  height: 60vh;
  border-top-left-radius: 50% 30%;
  border-top-right-radius: 50% 30%;
  border-bottom-left-radius: 50% 30%;
  border-bottom-right-radius: 50% 30%;
  object-fit: cover;
}
.content .message {
  margin: 0;
  padding: 0;
  font-weight: 100;
}
.content .title-name {
  margin: 0;
  padding: 0;
  font-weight: bold;
}
.content .projects-btn {
  height: 2.5rem;
  width: 10rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #1e3a8a;
  color: #ffffff;
}

.content .btn-projects-conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
